# Django
staticfiles_collected/
*.pyc
__pycache__/
db.sqlite3

# React
react/build/
react/node_modules/
react/coverage/
react/src/assets/cell-kn-mvp-collection-maps.json

# Environment
*.DS_Store
*.env
.idea
.venv
.zshenv
venv/
